*{
	font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro",Osaka, "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

body{
	color: #6c757d;
}

.sidebar {
  margin: 0;
  padding: 0;
  width: 250px;
  background-color: #04AA6D;
  position: fixed;
  height: 100%;
  overflow: auto;
  display: flex;
 flex-direction: column;
 justify-content: center;
}

.content-title {
	font-weight: 900;
	color: #04AA6D!important;  
	margin-bottom: 5rem;
  font-size: 2.7rem!important;
}

.sidebar a {
  display: block;
  color: rgba(255, 255, 255, 0.55);
  padding: 20px;
  text-decoration: none;
  font-weight: 700;
  font-size: 1rem;
  line-height: 24px;
}
 
.sidebar a.active {
  color: white;
}

.sidebar a:hover{
  color: lightgray;
}

#content-name-link{
	font-size: 4rem!important;
  color:#343a40!important;
}

div.content {
  margin-left: 250px;
  padding: 1px 16px;
  height: 1000px;
}

p {
	margin: 4rem 0;
	color: #6c757d;
}

.resume-content {
	padding: 5rem 3rem;
	min-height: 1028px;
}

div#about {
	padding: 10rem 3rem;
}

.span-text-primary{
 	color: #04AA6D!important;	
}

.subheading {
	font-family: "Saira Extra Condensed", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	text-transform: uppercase;
	font-weight: 700;
	font-size: 1.3rem;
	color: #6c757d;	
}

.name-link {
  font-family: 'Courier New';
  color: #343a40!important;
  font-size: 1.5rem!important;
}

.dev-icons{
  font-size: 3rem;
}


/* For Desktop View */
@media screen and (min-width: 1024px) {
    .resume-content {
    min-height: 100vh;
  }
}
 
/* For Tablet View */
/*@media screen and (min-device-width: 768px) 
    and (max-device-width: 1024px) {
    .resume-content {
    min-height: 100vh;
  }
}*/
 
/* For Mobile Portrait View */
@media screen and (max-device-width: 480px) 
    and (orientation: portrait) {
    /*.sidebar {
      width: 100%;
      height: auto;
      overflow: hidden;
      position: fixed;
      top: 0; 
      z-index: 1;
      font-size: 0.1rem!important;
    }

    a {
      font-size: 0.1rem;
    }*/
}
 
/* For Mobile Landscape View */
@media screen and (max-device-width: 640px) 
    and (orientation: landscape) {
   /* .sidebar {
    width: 100%;
    height: auto;
    overflow: hidden;
    position: fixed;
    top: 0; 
    z-index: 1;
    font-size: 0.1rem!important;
    }
*/
    a {
      font-size: 0.1rem;
    }
}

 
/*@media (min-width: 768px) {
  .resume-content {
    min-height: 100vh;
  }
}*/


/*@media (min-width: 1200px) {
  .resume-content {
    min-height: 100vh;
  }
}*/

@media screen and (max-width: 768px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    text-align: center;
    display: block;
  }

  .sidebar a {
    display: flex;
    align-items: center;
  	float: left;
    font-size: 0.9rem;
  }

  div.content {
  	margin-left: 0;
  }

  div#about {
  	padding: 10em 3rem;
  }

  #content-name-link{
    font-size: 3rem!important;
    color:#343a40!important;
  }

  p{
    font-size: 0.8rem;
  }
  .resume-content {
    min-height: auto;
  }
}


@media screen and (max-width: 600px) {
  .sidebar a {
    font-size: 0.9em!important;
    padding: 16px 10px;
  }

  a.name-link {
    font-size: 1rem!important;
  }
  .resume-content {
    min-height: auto;
  }

 #content-name-link{
    font-size: 2.5rem!important;
    color:#343a40!important;
  }
  .content-title {
  font-size: 2rem!important;
}
  div#about {
    padding: 15em 3rem;
  }

}


@media screen and (max-width: 400px) {
  .sidebar a {
    font-size: 0.8em!important;
    padding: 16px 10px;
  }
}

/*@media screen and (max-width: 400px) {
	.sidebar {
		width: 100%;
		height: auto;
		overflow: hidden;
		position: fixed;
		top: 0; 
		z-index: 1;
    font-size: 0.1rem!important;
  	}

    a {
      font-size: 0.1rem;
    }
}*/
/*
@media screen and (min-width: 320px) {
  .sidebar {
    width: 100%;
    height: auto;
    overflow: hidden;
    position: fixed; 
    top: 0; 
    z-index: 1;
    font-size: 0.1rem!important;
    }
  }
*/
