*{
	font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro",Osaka, "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

body{
	color: #6c757d;
}

.sidebar {
  margin: 0;
  padding: 0;
  width: 250px;
  background-color: #04AA6D;
  position: fixed;
  height: 100%;
  overflow: auto;
  display: flex;
 flex-direction: column;
 justify-content: center;
}

.sidebar a {
  display: block;
  color: rgba(255, 255, 255, 0.55);
  padding: 20px;
  text-decoration: none;
  font-weight: 700;
  font-size: 1rem;
  line-height: 24px;
}
 
.sidebar a.active {
  color: white;
}

.sidebar a:hover{
  color: lightgray;
}

.content-title {
	font-weight: 900;
	color: #04AA6D!important;  
	margin-bottom: 5rem;
  font-size: 2.7rem!important;
}

#content-name-link{
	font-size: 4rem!important;
  color:#343a40!important;
}

div.content {
  margin-left: 250px;
  padding: 1px 16px;
  height: 1000px;
}

p {
	margin: 4rem 0;
	color: #6c757d;
}

.resume-content {
margin-top: 0;
	padding: 5rem 3rem;
	min-height: 100vh;
}

div#about {
	padding: 10rem 3rem;
}

.span-text-primary{
 	color: #04AA6D!important;	
}

#edu {
  top: 50%;
  bottom: 50%;
  display: inline-flex;
}

.subheading {
	font-family: "Saira Extra Condensed", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	text-transform: uppercase;
	font-weight: 700;
	font-size: 1.3rem;
	color: #6c757d;	
}

.name-link {
  font-family: 'Courier New';
  color: #343a40!important;
  font-size: 1.5rem!important;
}

.dev-icons{
  font-size: 3rem;
}

@media screen and (max-width:992px){
  .sidebar {
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    vertical-align: center;
    display: block;
    padding-left: 20px;
  }

  .sidebar a {
    display: flex;
    align-items: center;
  	float: left;
    padding: 30px;
  }

  div.content {
  	margin-left: 0;
  }

  div#about {
  	padding: 15em 3rem;
  }

  #content-name-link{
    font-size: 3.5rem!important;
    color:#343a40!important;
  }

  p{
    font-size: 0.8rem;
  }
  .resume-content {
    min-height: auto;
  }
}


@media screen and (min-width:479px) and (max-width:768px){
 .sidebar a {
    padding: 30px 12px;
  }

  a.name-link {
    font-size: 1.2rem!important;
  }
  .resume-content {
    min-height: auto;
  }

 #content-name-link{
    font-size: 2.5rem!important;
    color:#343a40!important;
  }
  .content-title {
    font-size: 2.5rem!important;
  }

  div#about {
    padding: 15em 3rem;
  }

  ß.dev-icons{
    font-size: 2rem;
  }
}


@media screen and (max-width: 480px) {
  .sidebar a {
    font-size: 0.6em!important;
    padding: 25px 10px;
  }

  .sidebar a {
    padding: 30px 12px;
  }

  a.name-link {
    font-size: 1.2rem!important;
  }

  .resume-content {
    min-height: auto;
  }

 #content-name-link{
    font-size: 2.5rem!important;
    color:#343a40!important;
  }
  .content-title {
    font-size: 2.5rem!important;
  }

  .dev-icons {
    font-size: 2rem;
  }
}
